/*left.html*/
*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
}
.clearfix:after{
	content: "\20";
	clear: both;
	display: block;
}

/**
 * 登陆页面
 */
.login_head{
	background: url(../img/loginbg1.png) repeat-x;
	height: 47px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
    width: 100%;
    font-size: 14px;
    color: #FFFFFF;
}
.login_head .left{
	
	position: absolute;
	font-size: 12px;
	display: block;
	float: left;
	width: 200px;
	top: 15px;
	left: 20px;
	
}
.left img{
	float: left;
	margin-top: 1px;
	margin-right: 8px;
}
.left span{
	color: #afc5d2;
}
.login_head .right{
	position: absolute;
	list-style: none;
	float: right;
	right: 2px;
	top: 15px;
	
}
.right li{
	float: right;
	margin-right: 25px;
	font-size: 14px;
	
}
.right li a {
	color: #afc5d2;
	font-size: 12px;
}
.right li a:hover{
	color: #FFFFFF;
	cursor: pointer;
}
.login_content{
	top: 47px;
	position: absolute;
	background: url(../img/loginbg3.png) no-repeat center center;
	width: 100%;
	height: 585px;
}
.login_content span{
	display: block;
	background: url(../img/loginlogo.png) no-repeat center center;
	width: 287px;
	height: 71px;
	margin: 0 auto;
	margin-top: 95px;
}
.login_content .loginbox{
	position: relative;
	background: url(../img/logininfo.png) no-repeat center center;
	width: 692px;
	height: 336px;
	margin: 0 auto;
	margin-top: 60px;
	font-size: 12px;
	
}
.loginbox .username{
	position: absolute;
	background: url(../img/loginuser.png) no-repeat;
	display: block;
    width: 299px;
	height: 48px;
	left: 285px;
	top: 90px;
	border: none;
	line-height: 48px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: bold;
}
.loginbox .password{
	position: absolute;
	background: url(../img/loginpassword.png) no-repeat;
	display: block;
	width: 299px;
	height: 48px;
	left: 285px;
	top: 168px;
	border: none;
	line-height: 48px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: bold;
}
.loginbox .remenber{
	display: none;
}
.loginbox .loginfun{
	list-style: none;
	position: absolute;
	left: 285px;
	top: 236px;
	color: #0b3a58;
}
.loginfun .login_click{
	border: none;
	background: url(../img/buttonbg.png) no-repeat;
	height: 35px;
	width: 110px;
	font-size:14px;
	color: #FFFFFF;
}
.loginfun .remenber_pwd{
	width: 14px;
	height: 14px;
	margin-left: 20px;
	
	
}

.loginfun a{
	color: #0b3a58;
	font-size: 12px;
	padding-left: 15px;
}
.loginfun a:hover{
	cursor: pointer;
	color: cornflowerblue;
}
