/*left.html*/
*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
}
.clearfix:after{
	content: "\20";
	clear: both;
	display: block;
}
.lefttop{
	background: url(../img/lefttop.gif) repeat-x;
	height: 40px;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	/*margin-bottom: -5px;*/
}
.lefttop span{
	background: url(../img/leftico.png) no-repeat;
	display: inline-block;
	float :left;
	width: 20px;
	height: 20px;
	margin: 13px 7px 0px 8px;
}
.leftmenu{
	width: 185px;
	background: url(../img/leftline.gif) repeat-y right;
	padding-bottom:9999px ;
	margin-bottom: -9999px;
	overflow: hidden;
}
.leftmenu .title{
	cursor: pointer;
}
.leftmenu dd{
	background: url(../img/leftmenubg.gif) repeat-x;
	line-height: 35px;
	font-size: 13px;
	font-weight: bold;
	border-right: 1px solid #b7d5df;
}
.leftmenu dd span{
	display: block;
	float: left;
	margin: 9px 8px 0px 9px;
}
.menuson{
	font-weight: normal;
	line-height: 30px;
}
.menuson li{
	color:black;
}
.menuson li.active{
	position: relative;
	background: url(../img/libg.png) repeat-x;
	color: #FFFFFF;
	line-height: 30px;
}
.menuson li cite{
	display: block;
	background: url(../img/list.gif) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 28px;
	margin-top: 8px;
}
.menuson li.active cite{
	background:url(../img/list1.gif) no-repeat;
}
.menuson li.active i{
	position: absolute;
	display: block;
	background: url(../img/sj.png) no-repeat;
	width: 6px;
	height: 11px;
	top: 9px;
	z-index: 10000;
	right: -1px;
}
.menuson li a{
	color: black;
	text-decoration: none;
}
.menuson li.active a{
	color: #FFFFFF;
}
.menuson li a:hover{
	color: dodgerblue;
}

/**
 *top.html
 */
.top{
	background: url(../img/topbg.gif) repeat-x;
	height: 88px;
}
.top .logo{
	float: left;
	background: url(../img/topleft.jpg) no-repeat;
}
.top .logo b{
	display: block;
	width:20px;
	margin-left: -9999px;
}
.top .logo span{
	display: inline-block;
	background: url(../img/loginlogo.png) no-repeat;
	float : left;
	width:280px;
	height: 71px;
	margin-top:10px ;
	margin-left:10px ;
}
.nav{
	float: left;
}
.nav ul{
	margin-left: 15px;
}
.nav ul li{
	list-style: none;
	float: left;
	font-size: 14px;
	color: #fff;
	width: 92px;
	height: 88px;
	text-align: center;
}
.nav ul li.selected{
	background: url(../img/navbg.png) no-repeat;
}
.nav ul li a{
    overflow: hidden;	
	display: block;
	margin: 0 auto;
	width :70px;
	margin-top: 7px;
}
.nav ul li h2{
	font-size: 14px;
	font-weight: normal;
	
}
.topright{
	
	position:relative;
	float: right;
	background: url(../img/topright.jpg) no-repeat;
	width: 167px;
	height: 88px;
}
.topright ul{
	
}
.topright ul li{
	 
	 list-style: none;
	 height: 30px;
	 float: left;
	 padding-left: 9px;
	 padding-right: 9px;
	 margin-top: 10px;
	 background: url(../img/line.gif) no-repeat right 6px;
}
.help span{
	float: left;
	padding-right:4px;
	padding-top: 6px;
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/help.png) no-repeat left;
	
}
.topright .quit{
	background: none;
}
.user{
	font-style: normal;
	color: #fff;
    height: 25px;
    width: 145px;
    text-align: center;
    border-radius: 30px;
	background: url(../img/ub1.png) repeat-x center;
	clear:both;
	float: right;
	padding-top: 5px;
	margin-right: 10px;
}
.user span{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../img/user.png) no-repeat left;
	margin-right: 3px;
}
.user i{
	display: inline-block;
	margin-left: 5px;
	font-style: normal;
} 
.user b{
	color: red;
}
